.orderbook-container {
  width: 100%;
  height: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.orderbook-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.orderbook-body::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  background-color: #f1f1f1; /* 스크롤바의 배경색 */
}

.orderbook-body::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바의 막대 색상 */
  border-radius: 10px; /* 막대의 둥근 정도 */
}

/* 스크롤바의 상하 버튼 */
.orderbook-body::-webkit-scrollbar-button {
  display: none; /* 상하 버튼을 숨김 */
}

.orderbook-body::-webkit-scrollbar-track {
  display: none;
}

.orderbook-header {
  display: flex;
  font-weight: bold;
  text-align: center;
  background-color: #f9f9f9;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  align-items: center; /* 각 아이템을 수직으로 가운데 정렬 */
}

.orderbook-header-item {
  flex: 1;
}

.orderbook-row {
  display: flex;
  padding: 5px 0;
  border-bottom: 1px solid #f0f0f0;
}

.orderbook-quantity {
  flex: 1;
}

.orderbook-price {
  flex: 1;
  color: #000;
  text-align: center;
}

.orderbook-row.ask {
  background-color: #ecf3fa;
  padding: 10px;
}

.orderbook-row.bid {
  background-color: #fbf1ef;
  padding: 10px;
}
