.stock-container {
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* border: 1px solid #ddd; */
  font-size: 14px;
}

.stock-search-container {
  display: flex;
  align-items: center; /* 아이템들을 가로로 중앙 정렬 */
  justify-content: center; /* 아이템을 수평 가운데 정렬 */
  border-bottom: 1px solid #ddd;
  padding: 5px 0; /* 위아래 여백 추가 */
}

.stock-search-icon {
  width: 18px;
  height: 17px;
  padding-right: 10px; /* 아이콘과 입력창 간격 조정 */
}

.stock-search-input {
  width: 85%;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  font-size: 14px;
}

/* 시장 선택 탭 */
.stock-market-tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.stock-market-tab {
  width: 50%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 11px;
  color: #888;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1;
}

.stock-market-tab:hover {
  background-color: #f0f0f0;
}

.stock-market-tab.active-market {
  color: #009178;
}

.stock-market-tab-indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #009178;
  transition: left 0.3s ease, width 0.3s ease;
  z-index: 2;
}

.stock-header {
  height: 15px;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  font-size: 14px;
}

.stock-item-container {
  height: 1611px;
  overflow-y: auto;
}

.stock-item-container::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  background-color: #f1f1f1; /* 스크롤바의 배경색 */
}

.stock-item-container::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바의 막대 색상 */
  border-radius: 10px; /* 막대의 둥근 정도 */
}

.stock-item-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 활성화 상태에서의 막대 색상 */
}

/* 스크롤바의 상하 버튼 */
.stock-item-container::-webkit-scrollbar-button {
  display: none; /* 상하 버튼을 숨김 */
}

.stock-item-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 트랙의 배경색 */
  border-radius: 10px; /* 트랙의 둥근 정도 */
}

.stock-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}

.stock-info {
  display: flex;
  align-items: center;
  flex: 1;
}

.stock-name {
  font-weight: bold;
}

.stock-price {
  width: 100px;
  text-align: right;
}

.stock-change {
  width: 80px;
  text-align: right;
  font-weight: bold;
  display: flex;
  flex-direction: column; /* 위아래로 배치 */
  align-items: flex-end;
}

.stock-volume {
  width: 100px;
  text-align: right;
  color: #666;
  line-height: 1.286; /* 줄 간격을 조정하여 높이 문제 해결 */
}

.stock-up {
  color: #dc3545;
}

.stock-down {
  color: #007bff;
}

.stock-neutral {
  color: #666666;
}

.stock-changed {
  background-color: #a2a2a2;
  animation: fadeOut 0s forwards;
}

.stock-arrow-icon {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

@keyframes fadeOut {
  from {
    background-color: #a2a2a2;
  }
  to {
    background-color: white;
  }
}

@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}
