.articlelist-section {
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.articlelist-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.articlelist-item {
  padding: 15px 20px;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #ddd;
}

.articlelist-item:last-child {
  border-bottom: none;
}

.articlelist-item:hover {
  background-color: #f0f0f0;
}

.articlelist-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articlelist-text {
  flex: 1; /* 텍스트가 가능한 공간을 최대한 차지 */
  padding-right: 20px; /* 이미지와 텍스트 사이의 간격 조정 */
}

.articlelist-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.articlelist-time {
  display: flex;
  gap: 8px;
  align-items: baseline;
  line-height: 1;
}

.articlelist-press {
  font-size: 14px;
  color: #c88282;
  margin-left: auto; /* 시간과 일자 오른쪽에 배치 */
}

.articlelist-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.articlelist-description {
  font-size: 14px;
  color: #666;
}

.articlelist-img {
  width: 150px; /* 이미지 크기 조정 */
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
