/* 페이드 인 애니메이션 */
@keyframes fadeInMinusY {
  from {
    opacity: 0;
    transform: translateY(-20px); /* 위에서 아래로 내려오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 */
  }
}

/* 적용될 애니메이션 클래스 */
.fade-in-minus-y {
  animation: fadeInMinusY 0.9s ease-in-out forwards;
}

.market-page {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 350px;
}

.market-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 타이틀과 탭을 같은 선상에 배치 */
  border-bottom: 1px solid #ddd; /* 아래쪽 테두리 추가 */
}

.market-title {
  font-size: 32px;
  font-weight: bold;
}

.market-tabs {
  display: flex;
  position: relative; /* 슬라이딩 인디케이터를 위한 상대 위치 지정 */
  border-bottom: 1px solid #ddd; /* 아래쪽 테두리 추가 */
}

.market-tabs button {
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  z-index: 1; /* 인디케이터가 버튼 뒤에 오도록 */
}

/* 마우스 호버 시 배경색 변경 */
.market-tabs button:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 */
}

/* 선택된 탭에 적용될 스타일 */
.market-tabs .market-active {
  font-weight: bold;
  color: #009178;
}

/* 슬라이딩 인디케이터 스타일 */
.market-tab-indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #009178;
  transition: left 0.3s ease, width 0.3s ease;
  z-index: 2; /* 인디케이터가 버튼 뒤에 오도록 */
}

.market-table {
  width: 100%;
  border-collapse: collapse;
}

.market-th,
.market-td {
  padding: 12px;
  text-align: right;
  border: 1px solid #ddd;
}

.market-th {
  background-color: #f9f9f9;
  text-align: center;
}

.market-tr:nth-child(even) {
  background-color: #f4f4f4;
}

.market-negative {
  color: red;
}

.market-positive {
  color: green;
}

.market-td:first-child {
  text-align: left;
}

.market-flag-icon {
  margin-right: 10px;
}
