/* 페이드 인 애니메이션 */
@keyframes fadeInMinusX {
  from {
    opacity: 0;
    transform: translateX(-20px); /* 왼쪽에서 나타나는 효과 */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* 원래 위치로 */
  }
}

/* 페이드 인 애니메이션 */
@keyframes fadeInPlusX {
  from {
    opacity: 0;
    transform: translateX(20px); /* 오른쪽에서 나타나는 효과 */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* 원래 위치로 */
  }
}

/* 페이드 인 애니메이션 */
@keyframes fadeInMinusY {
  from {
    opacity: 0;
    transform: translateY(-20px); /* 위에서 아래로 내려오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 */
  }
}

/* 페이드 인 애니메이션 */
@keyframes fadeInPlusY {
  from {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 위로 올라오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 */
  }
}

/* 적용될 애니메이션 클래스 */
.fade-in-minus-y {
  animation: fadeInMinusY 1s ease-in-out forwards;
}

.fade-in-plus-y {
  animation: fadeInPlusY 1s ease-in-out forwards;
}

/* 적용될 애니메이션 클래스 */
.fade-in-minus-x {
  animation: fadeInMinusX 1s ease-in-out forwards;
}

.fade-in-plus-x {
  animation: fadeInPlusX 1s ease-in-out forwards;
}

/* 애니메이션 지연 */
.fade-in-delay {
  animation-delay: 0.5s;
}

.trade-page-container {
  max-width: 1560px;
  height: 1760px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.trade-main-container {
  width: 1100px;
  height: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trade-stock-info-wrapper {
  width: 1097px;
  height: 645px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.trade-chart-wrapper {
  width: 1097px;
  height: 480px;
}

.trade-interface-container {
  height: 550px;
  display: flex;
  justify-content: space-between;
}

.trade-order-book-wrapper,
.trade-panel-wrapper {
  width: 49.6%;
  height: 550px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.trade-market-data-wrapper {
  height: 550px;
  width: 1097px;
}

.trade-stock-list-wrapper {
  width: 450px;
  height: 100%;
  margin-top: 5px;
  /* overflow-y: auto; */
}

/* 스크롤바 스타일
.trade-stock-list-wrapper::-webkit-scrollbar {
  width: 8px;
}

.trade-stock-list-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.trade-stock-list-wrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} */
