.research-hanatv {
  width: 1700px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
}

.research-hanatv-main-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.research-hanatv-main-video {
  width: 1230px;
  height: 760px;
}

.research-hanatv-main-video h2 {
  margin-top: 10px;
  color: black;
}

.research-hanatv-related-videos {
  width: 440px;
  height: 720px;
  overflow-y: auto;
  padding-right: 5px; /* 스크롤바 공간 확보 */
}

.research-hanatv-related-videos::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  background-color: #f1f1f1; /* 스크롤바의 배경색 */
}

.research-hanatv-related-videos::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바의 막대 색상 */
  border-radius: 10px; /* 막대의 둥근 정도 */
}

.research-hanatv-related-videos::-webkit-scrollbar-button,
.research-hanatv-related-videos::-webkit-scrollbar-track {
  display: none;
}

.research-hanatv-related-video-item {
  height: 80px;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.research-hanatv-related-video-thumbnail img {
  width: 110px;
  height: 75px;
}

.research-hanatv-related-video-title {
  margin-left: 10px;
  font-size: 14px;
  color: black;
}

.research-hanatv-other-topic-section {
  margin-top: 40px;
}

.research-hanatv-other-topic-section h3 {
  margin-bottom: 10px;
  color: #009178;
}

.research-hanatv-videos-row {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px; /* 스크롤바 공간 확보 */
}

.research-hanatv-videos-row::-webkit-scrollbar {
  height: 5px;
  background-color: #f1f1f1; /* 스크롤바의 배경색 */
}

.research-hanatv-videos-row::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바의 막대 색상 */
  border-radius: 10px; /* 막대의 둥근 정도 */
}

.research-hanatv-videos-row::-webkit-scrollbar-button,
.research-hanatv-videos-row::-webkit-scrollbar-track {
  display: none;
}

.research-hanatv-video-item {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 10px;
  cursor: pointer;
}

.research-hanatv-thumbnail img {
  width: 100%;
  height: auto;
}

.research-hanatv-video-title {
  margin-top: 5px;
  font-size: 14px;
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 2줄까지 표시 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
