/* ScrapeItem 관련 클래스 */

.scrape-item-container {
  min-height: 140px;
  display: flex;
  gap: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: box-shadow 0.2s, transform 0.2s;
}

.scrape-item-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.scrape-item-image-author {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #ddd;
  background-color: white;
}

.scrape-item-image-author img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  border-bottom: 1px solid #ddd;
}

.scrape-item-author {
  height: 22px;
  width: 100%;
  font-size: 14px;
  color: #555;
  font-weight: bold;
  margin-top: 5px;
}

.scrape-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scrape-item-title {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.scrape-item-article-date-time {
  font-size: 16px;
  color: #666;
}

.scrape-item-file a {
  text-decoration: none;
  color: #009178;
  font-weight: bold;
  font-size: 16px;
}

.scrape-item-file a:hover {
  text-decoration: underline;
}
