.footer {
  background-color: #f8f8f8;
  padding: 10px 0;
  color: #000000;
}

.footer-content {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-guide-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link-list {
  display: flex;
  gap: 30px;
}

.footer-link-item {
  font-size: 14px;
  color: #000000;
}

.footer-sns ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.footer-sns li img {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.footer-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer-info p {
  margin: 5px 0;
}

.footer-logo {
  width: 300px;
  margin-bottom: 10px;
}

.wa-logo {
  width: 300px;
}
