.index-container {
  margin-top: 20px;
}

.index-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.index-tab {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.index-tab.active {
  background-color: #009178;
  color: white;
  border-color: #009178;
}

.index-table-container {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.index-header {
  display: flex;
  align-items: center;
  padding: 15px 20px 15px 10px;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
  font-size: 14px;
}

.index-item-container {
  height: 1000px;
  overflow-y: auto;
}

.index-item-container::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  background-color: #f1f1f1; /* 스크롤바의 배경색 */
}

.index-item-container::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바의 막대 색상 */
  border-radius: 10px; /* 막대의 둥근 정도 */
}

.index-item-container::-webkit-scrollbar-button,
.index-item-container::-webkit-scrollbar-track {
  display: none;
}

.index-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}

.index-info {
  display: flex;
  align-items: center;
  flex: 1;
}

.index-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.index-name {
  font-weight: bold;
}

.index-price {
  width: 100px;
  text-align: right;
}

.index-change {
  width: 80px;
  text-align: right;
  font-weight: bold;
}

.index-time {
  width: 100px;
  text-align: center;
  color: #666;
}

.index-up {
  color: #dc3545; /* 상승은 빨간색 */
}

.index-down {
  color: #007bff; /* 하락은 파란색 */
}

.index-neutral {
  color: #666666; /* Neutral color for no change */
}

.index-changed {
  background-color: #a2a2a2;
  animation: fadeOut 5s forwards;
}

.index-arrow-icon {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

@keyframes fadeOut {
  from {
    background-color: #a2a2a2;
  }
  to {
    background-color: white;
  }
}

@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}
