.korea-stocks-container {
  margin-top: 20px;
}

.korea-stocks-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.korea-stocks-tab {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.korea-stocks-tab.active {
  background-color: #009178;
  color: white;
  border-color: #009178;
}

.korea-stocks-table-container {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.korea-stocks-header {
  display: flex;
  align-items: center;
  padding: 15px 20px 15px 10px;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
  font-size: 14px;
}

.korea-stocks-item-container {
  height: 1000px;
  overflow-y: auto;
}

.korea-stocks-item-container::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  background-color: #f1f1f1; /* 스크롤바의 배경색 */
}

.korea-stocks-item-container::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바의 막대 색상 */
  border-radius: 10px; /* 막대의 둥근 정도 */
}

.korea-stocks-item-container::-webkit-scrollbar-button,
.korea-stocks-item-container::-webkit-scrollbar-track {
  display: none;
}

.korea-stock-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}

.korea-stock-info {
  display: flex;
  align-items: center;
  flex: 1;
}

.korea-stock-name {
  font-weight: bold;
}

.korea-stock-price {
  width: 100px;
  text-align: right;
}

.korea-stock-change {
  width: 80px;
  text-align: right;
  font-weight: bold;
}

.korea-stock-time {
  width: 100px;
  text-align: center;
  color: #666;
}

.korea-stock-up {
  color: #dc3545;
}

.korea-stock-down {
  color: #007bff;
}

.korea-stock-neutral {
  color: #666666;
}

.korea-stock-changed {
  background-color: #a2a2a2;
  animation: fadeOut 5s forwards;
}

.arrow-icon {
  width: 17px;
  height: 17px;
  margin-right: 15px;
}

@keyframes fadeOut {
  from {
    background-color: #a2a2a2;
  }
  to {
    background-color: white;
  }
}

@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}
