/* src/components/Stocks.module.css */

.stocksContainer {
  margin-top: 20px;
}

.stocksMarketButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.stocksMarketButton {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.active {
  background-color: #009178;
  color: white;
  border-color: #009178;
}

.stocksTabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.stocksTab {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.active {
  background-color: #009178;
  color: white;
  border-color: #009178;
}

.stocksTableContainer {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.stocksHeader {
  display: flex;
  align-items: center;
  padding: 15px 20px 15px 10px;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
  font-size: 14px;
}

.stocksItemContainer {
  max-height: 1000px; /* Adjust as needed */
  overflow-y: auto;
}

.stocksItemContainer::-webkit-scrollbar {
  width: 5px; /* Scrollbar width */
  background-color: #f1f1f1; /* Scrollbar background */
}

.stocksItemContainer::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Thumb border radius */
}

.stocksItemContainer::-webkit-scrollbar-button,
.stocksItemContainer::-webkit-scrollbar-track {
  display: none;
}

.stockItem {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}

.stockInfo {
  display: flex;
  align-items: center;
  flex: 1;
}

.stockName {
  font-weight: bold;
}

.stockPrice {
  width: 100px;
  text-align: right;
}

.stockChange {
  width: 80px;
  text-align: right;
  font-weight: bold;
}

.stockTime {
  width: 100px;
  text-align: center;
  color: #666;
}

.stockUp {
  color: #dc3545;
}

.stockDown {
  color: #007bff;
}

.stockNeutral {
  color: #666666;
}

.stockChanged {
  background-color: #a2a2a2;
  animation: fadeOut 5s forwards;
}

.stocksArrowIcon {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

@keyframes fadeOut {
  from {
    background-color: #a2a2a2;
  }
  to {
    background-color: white;
  }
}

@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}
